.restrict-card {
  height: 175px;
  overflow-y: overlay;
}
  
.pWrap{
  white-space: pre-wrap;
  text-align: justify;
}

.templateButton{
  color: white;
}

.templateButton:hover{
  color: white;
}

.submitButton{
  margin-bottom: 15px;
}

.titleCard{
  font-style: italic;
  font-size: 1.15rem;
}

.pError {
  color: #FC214E
}

.pWarning {
  color: #F3B536
}

.personalizedSpan{
  font-size: 0.7rem;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 5px;
  border-radius: 8%;
}

.Brown span{
  color: #472a04;
  background-color: #d8a055;
}

.Blue span{
  color: #0443b0;
  background-color: #8ab1f4;
}

.Green span{
  color: #06701e;
  background-color: #6edd88;
}

.PureHazel span {
  color: #8c3e0a;
  background-color: #f29354;
}

.Emerald span{
  color: #198c0a;
  background-color: #88d87d;
}

.GrayBlue span{
  color: #86b5fc;
  background-color: #b2cef8;
}

.Gray span{
  color: #88a9c2;
  background-color: #d8ebf9;
}

.Honey span{
  color: #bd8b2f;
  background-color: #f0be62;
}

.customConfirmSwitch{
  font-size:0.85+"rem"; 
  width:70+"%"; 
  height:"auto"
}

.iconsElementsBar{
  padding-top: 7.5px;
}

.boldText{
    font-weight: bold;
}

.italicText{
    font-style: italic;
}

.rightTextAlign{
    text-align: end;
}

.centerTextAlign{
    text-align: center;
}